@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


//MEDIA QUERY MANAGER
/*
0 - 600PX:      PHONE
600- 900PX:     TABLET PORTRAIT
900 - 1200PX :  TABLET LANDSCAPE
1200 - 1800     IS WHERE NORMAL STYLE APPLY
1800+           :BIG DESKTOP

*/


//MEDIA
/*
 $breakpoint argument choices:
 - phone
 - tab-port
 - tab-land
 - big-desktop
 */

 //ORDER: Base + typography > general layout + grid layout > component

 // em is the best option for media units
 // because from experiment px and rem fails to work as expected in some cases
 // 1 em = 16px
 @mixin respond($breakpoint) {

    
    @if $breakpoint == phone {
        @media (max-width : 37.5em) { @content }; //width < 600px
       //@media (max-width : 600px) { @content }; //width < 600px
     }
          
     @if $breakpoint == tab-port {
        @media (max-width : 56.25em) { @content };  // width < 900px
    // @media (max-width : 900px) { @content };  // width < 900px

     }

     @if $breakpoint == tab-land {
        @media (max-width : 75em) { @content };  // width < 1200px
      //@media (max-width : 1200px) { @content } ; // width < 1200px

     }
     
     @if $breakpoint == big-desktop {
       @media (min-width : 112.5em) { @content };   // width > 1800px
     // @media (min-width : 1800px ) { @content }  // width > 1800px

     }


 }