*,
*::after,
*::before{
    margin: 0;
    padding: 0;
   box-sizing: inherit;
}

html{
    
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

    //width <  1200
    @include respond(tab-land){
        font-size: 56.35%; //1rem = 9px; 9px/16px = 56.25%
    }

    //width < 900
    @include respond(tab-port) {
        font-size: 50%; //1rem = 8px; 8px/16px = 50%
    }

    //width > 1800px
    @include respond(big-desktop){
        font-size: 75%;   //1rem = 12px; 12px/16px = 75%
    }
}

body{
   box-sizing: border-box;
   padding: 3rem;
   

    //width < 600
    @include respond(tab-port) {
        padding: 0;
    }

}